body{
	font-family: 'Lato', sans-serif;
	padding: 0 15px;
}
/*SECTION-HEADER*/
.section__header{
	display: block;
	background-color: #00469D;
	height: 130px;
	width:100%;
	margin: 0 auto;
}
.section__header__content{

}

.section__header__logo_1{
	max-width: 267px;
margin-top:27px;

}
.section__header__button{
line-height: 75px;
background-color:#00B7EF;
border-radius:15px;
margin-top:27px;
}
.section__header__button p{
	display: flex;
	font-size: 40px;
	color:#fff;
	justify-content: center;
	padding: 0.9% 30%;
}
.section__header__button p {
	font-weight: lighter;
}
.col-4 a{
	text-decoration: none;
}
/*SECTION-HEADER-END*/

/*SECTION-PROTECT*/
.section__protect{
	display: block;
	margin: 0 auto;
	padding: 0 15px;
	max-height: 540px;
	background: linear-gradient(to bottom,#DDCBBE, #DDCBBE);
}
.section__protect_box{
	display: block;
=======
	max-height: 540px;
	background: linear-gradient(to bottom, #DDCBBE, #DDCBBE);
}
.section__protect_box img{

}
.section__protect p{
margin-top: 100px;
color:#00469D;
font-size: 50px;
font-weight: lighter;
}
.img__protect__dog{
	display: flex;
	align-items: bottom;
}
/*SECTION-PROTECT-END*/

/*SECTION-PACKS*/
.section__packs_img{
	display:flex;
	text-align: center;
	margin: 0 -5px;
	margin-top: -80px;
	position: relative; 
	z-index: 10000;
}
.section__packs_img__1{
	flex: 1 1 auto;
	margin: 0 5px;
}
/*SECTION-PACKS-END*/

/*SECTION-RECOMMEND*/
.section__recommend{
margin-top: 30px;
}
.section__recommend_title img{
	max-width: 64px;
}
.section__recommend_title h2{
text-align: center;
color: #00469D;
font-size: 41px;
font-weight: lighter;
}
.section__recommend_content__1{
	margin-top: 20px;
	text-align: center;
}
.section__recommend_content__2{
	margin-top: 20px;
	text-align: center;
}
.section__recommend_content__3{
margin-top: 40px;
text-align: center;
}
.section__recommend_content__4{
margin-top: 40px;
text-align: center;
}
.section__recommend_content_text{
	margin-top:10px;
	color:#00469D;
	font-size: 20px;
	font-weight: bolder;

}
.section__recommend__table{
	text-align: center;

}
.recommend__table__content{
	background-color: #F2E2DB;

}

.section__recommend__table p{
	font-size: 20px;
	font-weight: bolder;
	color: #00469D;
	padding: 10% 20%;
	text-align: center;
}
.recommend__table__notice p{
	text-align: center;
	color: #9F9E9E;
}
/*SECTION-RECOMMEND-END*/

/*SECTION-EFFECTIVITY*/
.section__effectivity{
margin-top:50px;
}
.section__effectivity__title h2{
	text-align: center;
	color: #00469D;
	font-size: 41px;
	font-weight: lighter;
}
.section__effectivity__content{
	margin-top: 60px;
}
.section__effectivity__text{
	text-align: center;
}
.section__effectivity__text_h3 h3{
	font-size: 20px;
	color: #00B7EF;
	font-weight: 550;
	text-align: center;
}
.section__effectivity__text_p p{
font-size: 17px;
line-height: 1.2;
text-align: center;
margin-top:15px;
}
.section__effectivity__text_1 p{
	text-align: center;
	font-size: 13px;
	line-height: 1.2;
	color: #9F9E9E;
	margin-bottom: 5px;
}
.section__effectivity__text_p span{
	color: #00B7EF;
	font-size: 20px;
	font-weight: bolder;
		}
/*SECTION-EFFECTIVITY-END*/

/*SECTION-NEVER-TITLE*/
.section__title_never{
	background-color: #00B7EF;
}
.section__title__never__h2{
	background-color: #00B7EF;
}
.section__title__never__h2 h2{
	font-size: 37px;
	color:#fff;
	padding: 2% 0;
	font-weight: lighter;
	text-align: center;
}
/*SECTION-NEVER-TITLE-END*/

/*SECTION-MEDIA*/
.section__media__content__box{
	margin-top: 25px;
}
.section__media__content__title p{
font-size: 45px;
text-align: center;
color:#00469D;
font-weight: 40;
}
.section__media__content__text p{
font-size: 26px;
text-align: center;
color:#535353;
font-weight: 40;
}
.section__media__content__video{
	margin-top: 6%;
}
/*SECTION-MEDIA-END*/

/*SECTION-TITLE-TIME*/
.section__title_time{
	background-color: #F2E2DB;
}
.section__title__time__h2{
	background-color: #F2E2DB;
}
.section__title__time__h2 h2{
	font-size: 37px;
	color:#000;
	padding: 20px 0;
	font-weight: lighter;
	text-align: center;
}
/*SECTION-TITLE-TIME-END*/

/*SECTION-WHERE-TO-BUY*/
.section__where_to_buy{
margin-top:6%;
}
.where_to_buy_button_1{
	text-decoration: none;
  outline: none;
  display: inline-block;
  color: white;
  padding: 10px 68px;
  border-radius: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right,#00469D 0%, #00B7EF 60%, #00469D 100%);
  background-size: 200% auto;
  transition: .5s;
}
.where_to_buy_button_1:hover{
	 background-position: right center;
}
.where_to_buy_button_1 p{
margin: 0 auto;
font-size: 37px ;
color:#fff;
}
.where_to_buy_button_2{
	text-decoration: none;
  outline: none;
  display: inline-block;
  color: white;
  padding: 10px 68px;
  border-radius: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right,#F2E2DB 35%, #fff 50%, #F2E2DB 100%);
  background-size: 200% auto;
  transition: .5s;
}
.where_to_buy_button_2:hover{
	 background-position: right center;
}
.where_to_buy_button_2 p{
margin: 0 auto;
font-size: 37px ;
color:#00469D;
}
.where_to_buy__text{
	text-align: center;

}
.where_to_buy__text p{
	font-size: 35px ;
	color: #00469D;
	margin-top: 6%;
}
.where_to_buy__stores_1{
	text-align: center;
	margin-top: 4%;
}
.where_to_buy__store :hover{
	width: 95%;
}
.where_to_buy__stores_2{
	margin-top: 2%;
}

/*SECTION-WHERE-TO-BUY-END*/
.section__write__us{
	background-color: #F2E2DB;
	padding: 3% 0;
	margin-top: 4%;
}
.section__write__us__box{
	background-color: #F2E2DB;
}
.section__write__us__title{
}
.section__write__us__title h2{
font-size: 35px;
text-align: center;
color:#00469D;
font-weight: 50;
}
.section__write__us__title p{
font-size: 35px;
text-align: center;
color:#00469D;
font-weight: bold;
}

/*SECTION-WRITE-US*/
.write__us__input__name{
	margin-top: 5%;
}
.write__us__input__name input{
	border-style: none;
	border-radius:15px;
	font-size: 25px;
	padding: 25px 20px;
}
.write__us__input__phone{
	margin-top: 2%;
}
.write__us__input__phone input{
	border-style: none;
	border-radius:15px;
	font-size: 25px;
	padding: 25px 20px;
}
.write__us__input__textarea textarea{
	border-style: none;
	border-radius:15px;
	font-size: 25px;
	padding: 25px 20px;
	resize: none;
}
.write__us__input__textarea{
	margin-top: 2%;
}
.where_to_buy_button_3{
	text-decoration: none;
	outline: none;
	display: inline-block;
	color: white;
	padding: 15px 50px;
	border-radius: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-image: linear-gradient(to right,#00469D 0%, #00B7EF 60%, #00469D 100%);
	background-size: 200% auto;
	transition: .5s;
}
.where_to_buy_button_3 :hover{
	background-position: right center;
}
.where_to_buy_button_3 p{
	margin: 0 auto;
	font-size: 35px;
}
.write__us__input__send{
	text-align: center;
	margin-top: 4%;
}
/*SECTION-WRITE-US-END*/

/*FOOTER*/
.footer__nexgard{
	margin-top: 40px;
}
.footer__nexgard{
	background-color: #00469D;
}
.footer__social__nexgard{
	background-color: #00469D;
}
.footer__social__links{
	padding-top: 3%;
	padding-bottom: 4%;
}
.footer__facebook{
	text-align: right;
}
.footer__instagram{
	text-align: left;
}
.footer__facebook :hover{
	width: 55%;
}
.footer__instagram :hover{
	width: 55%;
}
/*FOOTER-END*/
@media screen and (max-width: 1199px){
	.section__header__button p{
		font-size: 30px;
		padding: 3% 20%;
	}
	.section__header__button{
		line-height: 50px;
		margin-top: 32px;
	}
	.section__recommend_title h2{
		font-size: 33px;
	}
	.section__recommend_content_pack{
		margin-top: 40px;
	}
	.section__recommend_content_pack img {
		max-width: 450px;
	}

	.section__recommend_title img{
		max-width: 50px;
	}
	.section__recommend_content__1 img{
	max-width: 80px;
	}
	.section__recommend_content__2 img{
	max-width: 100px;
	}
	.section__recommend_content__3 img{
	max-width: 80px;
	}
	.section__recommend_content__4 img{
	max-width: 120px;
	}
	.section__recommend_content_text p{
		font-size: 15px;
	}
	.recommend__table__content p{
		font-size: 15px ;
	}
	.recommend__table__notice p{
		font-size: 15px;
	}
	.section__recommend__table{
		margin-top: -40px;
	}
	.section__effectivity__title h2{
		font-size: 35px;
	}
	.section__effectivity__text_h3 h3{
		font-size: 16px;
	}

	.section__effectivity__text_p span{
	color: #00B7EF;
	font-size: 15px;
	}
	.section__effectivity__text_p p{
		font-size: 14px;
	}
	.section__effectivity__text_1 p{
		font-size: 12px;
	}
	.section__effectivity__dog img{
		max-width: 310px;
	}
	.section__title__never__h2 h2{
		font-size: 33px;
	}
	.section__media__content__title p{
		font-size: 30px;
	}
	.section__media__content__text p{
		font-size: 23px;
	}
	.section__media__content__video iframe{
		max-width: 230px;
		max-height: 119px;
	}
	.section__media__content img{
	margin-top: 20px;
	}
	.section__title__time__h2 h2{
		font-size: 33px;
	}
	.where_to_buy_button_1 p{
		font-size: 25px;
	}
	.where_to_buy_button_2 p{
		font-size: 25px;
	}
	.where_to_buy__text p{
		font-size: 28px;
	}
	.section__write__us__title h2{
		font-size: 33px;
	}
	.section__write__us__title p{
		font-size: 33px;
	}
	.write__us__input__name input{
		font-size: 20px;
	}
	.write__us__input__phone input{
		font-size: 20px;
	}
	.write__us__input__textarea textarea{
		font-size: 20px;
	}
	.where_to_buy_button_3 p{
		font-size: 25px;
	}
}
@media screen and (max-width: 960px){
.section__header__logo_1{
	width: 70%;
	height: auto;
}
.section__header{
	height: 125px;

}
.section__header__button{
width:307px;
line-height: 64px;
}
.section__header__button p{
	font-size: 34px;
}
}
@media screen and (max-width: 720px){

}
@media screen and (max-width: 540px){

}
@media screen and (max-width: 360px){

}