body{
	font-family: 'Lato', sans-serif;
	min-width: 1140px;
	width:100%;
	padding: 0px 15px;
	background: #fff;
	height: 100%;
	margin: 0 auto;
}
/*SECTION-HEADER*/
.section__header{
	display: block;
	background-color: #00469D;
	height: 130px;
	width:100%;
	margin: 0 auto;
}
.section__header__content{

}

.section__header__logo_1{
	max-width: 267px;
margin-top:27px;

}
.section__header__button{
width:360px;
line-height: 75px;
background-color:#00B7EF;
border-radius:15px;
margin-top:27px;
}
.section__header__button p{
	display: flex;
	font-size: 40px;
	color:#fff;
	justify-content: center;
}
.section__header__button p {
	font-weight: lighter;
}
.col-4 a{
	text-decoration: none;
}
/*SECTION-HEADER-END*/

/*SECTION-PROTECT*/
.section__protect{
	display: block;
	margin: 0 auto;
	padding: 0 15px;
	max-height: 540px;
	background: linear-gradient(to bottom,#DDCBBE, #DDCBBE);
}
.section__protect_box{
	display: block;
=======
	max-height: 540px;
	background: linear-gradient(to bottom, #DDCBBE, #DDCBBE);
}
.section__protect_box img{

}
.section__protect p{
margin-top: 100px;
color:#00469D;
font-size: 50px;
font-weight: lighter;
}
.img__protect__dog{
	display: flex;
	align-items: bottom;
}
/*SECTION-PROTECT-END*/

/*SECTION-PACKS*/
.section__packs_img{
	display:flex;
	text-align: center;
	margin: 0 -5px;
	margin-top: -80px;
	position: relative; 
	z-index: 10000;
}
.section__packs_img__1{
	flex: 1 1 auto;
	margin: 0 5px;
}
/*SECTION-PACKS-END*/

/*SECTION-RECOMMEND*/
.section__recommend{
margin-top: 30px;
}
.section__recommend img{
}
.section__recommend_title{
text-align: center;
color:#00B7EF;
font-size: 40px;
font-weight: lighter;
}
.section__recommend_content__1{
	margin-top: 20px;
	text-align: center;
}
.section__recommend_content__2{
	margin-top: 20px;
	text-align: center;
}
.section__recommend_content__3{
margin-top: 60px;
text-align: center;
}
.section__recommend_content__4{
margin-top: 60px;
text-align: center;
}
.section__recommend_content_text{
	margin-top:10px;
	color:#00469D;
	font-size: 20px;
	font-weight: bolder;

}
/*SECTION-RECOMMEND-END*/

@media screen and (max-width: 960px){
.section__header__logo_1{
	width: 220px;
	height: auto;
}
.section__header{
	height: 125px;

}
.section__header__button{
width:307px;
line-height: 64px;
}
.section__header__button p{
	font-size: 34px;
}
}
@media screen and (max-width: 720px){

}
@media screen and (max-width: 540px){

}
@media screen and (max-width: 360px){

}